body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.container-1 {
    background-color: #1F2937;
    padding-left: 52px;
    padding-right: 52px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    padding-left: 15%;
    padding-right: 15%;
}
ul {
    list-style: none;
    display: flex;
    gap: 12px;

}
a {
    text-decoration: none;
    color: #E5E7EB;
}

.header-left {
    font-weight: 700;
    font-size: 24px;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 16px;
}
.content-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.hero-body {
    max-width: 500px;
    font-size: 18px;
    color: #bebebe;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 450px;
    margin-right: 20px;
}
.hero-body h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin: 0;
}
.button-one {
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 300;
    padding: 8px 16px;
    margin: 8px;
    border-radius: 8px;
    border: 0px;
    color: #f9faf8;
}
.spider {
    max-width: 450px;
}
.container-2 {
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    padding-right: 52px;
    padding-bottom: 26px;
    background-color: #7700ff7c;
}
.title-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    padding: 20px;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 22px;
}
.card-1, .card-2, .card-3, .card-4 {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    text-align: center;
}
.cat {
    max-width: 200px;
    border-radius: 8px;
}
.container-3 {
    background-color: #b0b0b0;
    display: flex;
    justify-content: center;
    padding: 48px;
    flex-direction: column;
    align-items: center;
}
.quote {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
   max-width: 750px;
   font-weight: lighter;
}
.end {
    align-self: flex-end;
    padding-right: 300px;
    font-weight: 700;
}
